$link-content-container-height: 500px;

.link-content-container {
    height: $link-content-container-height;
    display: block;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px; // Adjust as needed
}

#editor-container {
    width: 100%;
}


 